.product-preview {
    margin: 1rem;
    height: 500px;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
}

.product-preview:hover {
    box-shadow: 0 0 4px 4px #8a8a8a;
}

.product-preview .preview-img-wrapper {
    padding: .5rem;
}

.product-preview img {
    width: auto;
    height: 224px;
    margin: auto;
}

.product-preview .brand {
    font-size: 1.8rem;
    text-align: center;
    color: #747474;
    padding: .5rem;
}

.product-preview .name {
    font-size: 2rem;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
}